body, html{
	background-color: white;
	color: white;
  width: 100%;
	height: 100%;
	scroll-behavior:auto;
	margin:0;
  padding:0;
  overflow-x: hidden;
}

@media (min-width: 200px) {
.page-container{
	background-color: white;
	color: white;
	scroll-behavior:auto;
	font-style: normal;
	padding-top: 20px;
    padding-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
.join-button-container{
 
	padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    position: relative;
    min-width: 500px;
    animation-duration: 3s;
    animation-name: slidein;
   
}
.join-buttons{
  padding-left: 20px;
  min-width: 500px;

  
}
}

/* Navigation */
.navbar {
  position: fixed;
  width: 100%;
  background-color: #e8c9d4;
  
}

.navbar-brand {
  font-family: 'League Spartan', sans-serif;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.logo-img{
  height: 55px;
  margin-right: 20px;
}

.navbar-brand:hover{
  color: grey;
}

.nav-item {
  list-style: none;

}

.nav-link {

  color: black;
  
}

.nav-link:hover {
  color: grey;
  background-color: white; /* collapse item hover*/
}

.navbar-toggler {
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-toggler-icon {
  width:1.5rem;
  padding-top: 5px;
}


@media (min-width: 768px) {
.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 30px;
  padding-left: 30px;
}
}


@media (max-width: 767px) {

.navbar-nav {
  text-align: right;
  
}

.navbar-collapse {
  background-color: #e8c9d4; /* collapse background color*/
  padding: 10px;
  border-radius: 3px;
}

.navbar-collapse .nav-link { 
  color: black; /* nav text color*/
  padding-right: 20px;
  
}
}

/* Body Title */
.header1{
  font-family: 'Mulish', sans-serif;
  text-align: left;
  font-size: 75px;
  color: #6fb39b;
  padding-left: 20px;
  padding-right: 20px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* Body Image*/
.LWiCS{
  margin-bottom: 500px;
}
/* Social Media Buttons */
.button{
  background-color: #dbd2ea;
  border: none;
  color: black;
  padding: 10px;
  display: inline-block;
  margin: 5px 5px;
  cursor: pointer;
  
}

.button1, .button2, .button3, .button4{
  border-radius: 60%;
}

.button5{
 
  padding: 10px 30px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  font-family: 'League Spartan', sans-serif;
  font-size: 20px;
  font-weight: bolder;
}
