body, html{
	background-color: white;
	color: white;
  width: 100%;
	height: 100%;
	scroll-behavior:auto;
	margin:0;
  padding:0;
  overflow-x: hidden;
}

@media (min-width: 600px) {
.page-container, .about-container, .MTT-container, .events-container, .resources-container, .partners-container, .contact-container{
	background-color: white;
	color: white;
	scroll-behavior:auto;
	font-style: normal;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 1275px;
}
.join-button-container{
 
	padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 50px;
    position: relative;
    min-width: 500px;
    animation-duration: 3s;
    animation-name: fade-in, bounce2;
    float: left;
   
}
.join-buttons{
  padding-top: 40px;
  padding-left: 50px;
  min-width: 500px;
  animation-duration: 3s;
  animation-name: fade-in, bounce2;
  float: left;

  
}

}

/* Navigation */
.navbar {
	background: #e8c9d4;
	border: 0;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	-o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
}

ul.navbar-nav {
	font-family: 'League Spartan', sans-serif;
	font-size: 14px;
	color: #fff;
	font-weight: 400;
  margin-top: 5px;
}

.navbar-inverse ul.navbar-nav li a { padding-top: 10px; padding-bottom: 10px; color: black; border: 0; }
.navbar-inverse ul.navbar-nav li a:hover { color: #db868e; border: 0; }
.navbar-inverse ul.navbar-nav li a:focus { color: #6fb39b; outline: 0; border: 0; }

.navbar-brand {
	font-family: 'League Spartan', sans-serif;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  float: left;
  max-width: 370px;
}

.logo-img{
	margin-top: 5px;
	height: 35px;
	margin-left: 10px;
  margin-right: 10px;
	float: left;
  }
  
  .navbar-brand:hover{
	color: #6fb39b;
  }
  
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin-left: 0; }

@media (max-width: 370px) {
	
	.navbar.navbar-no-bg { background: #e8c9d4; }
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin-left: 20px; }
	.navbar-collapse { border: 0; }
	.navbar-inverse .navbar-toggle { margin-top: 10px; border-color: transparent; }
	.navbar-inverse ul.navbar-nav li a { padding-top: 10px; padding-bottom: 10px; }
	.navbar-inverse ul.navbar-nav li a:hover, .navbar-inverse ul.navbar-nav li a:focus { border: 0; }

	
	/* logo */
    .navbar-brand {
    	font-family: 'League Spartan', sans-serif;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  float: left;


    }
  }

/* Body Title */
.header1{
  font-family: 'Mulish', sans-serif;
  text-align: left;
  font-size: 70px;
  color: #6fb39b;
  padding-left: 50px;
  padding-right: 20px;
  font-weight: 700;
}

@keyframes fade-in {
  from { 
    opacity: 0; 
  }

  to {
    opacity: 1; 
  }
}

@keyframes bounce2 {
	10%, 30%, 50%, 80%, 100% {
    transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

/* @keyframes slidein {
  from {
    margin-top: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
} */

/* Body Image*/
.Lady-img{
  margin-bottom: 20px;
  margin-right: 100px;
  margin-top: 20px;
  float: right;
  width: 550px;
}
/* Social Media Buttons */

.row{
  padding-left: 50px;
  padding-top: 20px;

}
.button{
  background-color: #dbd2ea;
  border: none;
  color: black;
  padding: 10px;
  display: inline-block;
  margin: 5px 5px;
  cursor: pointer;
  
}

.button1, .button2, .button3, .button4{
  border-radius: 60%;

}

.button5{
 
  padding: 10px 30px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  font-family: 'League Spartan', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  padding-left: 115px;
  padding-right: 115px;
}

/* About Page */

.header2{
  font-family: 'Mulish', sans-serif;
  text-align: center;
  font-size: 75px;
  color: #6fb39b;
  font-weight: 700;
}

p{
  color: black;
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  text-align: left;
  padding-bottom: 10px;
  font-weight: 300;
  min-width: 300px
}

.bolded{
  font-weight: bold;
}

.para1{
  color: black;
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 300;
  padding-top: 35px;
  min-width: 300px
}


.para2{
  color: black;
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 300;
  min-width: 300px
}

.laptop-icon{
  height: 245px;
  width: 330px;
}

/* MTT Page */


/* Events Page */
.header3{
  font-family: 'Mulish', sans-serif;
  text-align: center;
  font-size: 45px;
  color: black;
  font-weight: bold;
  padding-bottom: 20px;
}

.calendar{
  width: 100%;
}

.header4{
  font-family: 'Mulish', sans-serif;
  text-align: center;
  font-size: 45px;
  color: black;
  font-weight: bold;
  margin-top: 50px;
}

.header5{
  color: black;
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 100px;
  display: inline;
   width: 33.33333333;
  
}



/* Previous Event Images */
.tech-img{
  width: 33.33333333;
  height: 200px;
}

.para3{
  color: black;
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  text-align: center;
}

.workshop-img{
  width: 33.33333333;
  height: 200px;
  
}

.game-night-img{
  width: 33.33333333;
  height: 200px;

}

.header6{
  color: black;
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  font-weight: bold;
  display: inline;
  width: 33.33333333;
}

.header7{
  color: black;
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  font-weight: bold;
  width: 33.33333333;
}

.para4{
  color: black;
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  text-align: center;

}

.para5{
  color: black;
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  text-align: center;
 
}

.title-container{
  margin-top: 25px;
}

.image-container{
  margin-top: 25px;
}

.description-container{
  display: inline-flex;
}


